# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/lib/
dist/
*.egg-info/
.eggs

# Testing and coverage
.cache
.nox/
.mypy_cache/
.pytest_cache
htmlcov/
.coverage
coverage.xml
tests/integration/
.integration-sources
.tox
Dockerfile

# Restore src/build in case user ignores 'build'
!src/build
