repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: check-ast
  - id: check-builtin-literals
  - id: check-docstring-first
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
    exclude: tests/packages/test-bad-syntax/pyproject.toml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: double-quote-string-fixer
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v1.9.0
  hooks:
  - id: setup-cfg-fmt
- repo: https://gitlab.com/pycqa/flake8
  rev: "3.8.4"
  hooks:
  - id: flake8
    additional_dependencies: ["flake8-bugbear == 20.1.4"]
    language_version: python3.8
