importlib-metadata==4.6
packaging==24.0
pyproject_hooks==1.0
setuptools==42.0.0; python_version < "3.10"
setuptools==56.0.0; python_version == "3.10"
setuptools==56.0.0; python_version == "3.11"
setuptools==67.8.0; python_version >= "3.12"
setuptools_scm==6.3.1; python_version < "3.12"
tomli==1.1.0
virtualenv==20.11; python_version < "3.10"
virtualenv==20.17; python_version >= "3.10" and python_version < "3.14"
virtualenv==20.31; python_version >= "3.14"
wheel==0.36.0
