importlib-metadata==0.22
packaging==19.0
pep517==0.9.1
setuptools==42.0.0; python_version < "3.10"
setuptools==56.0.0; python_version >= "3.10"
toml==0.10.0
tomli==1.0.0
virtualenv==20.0.35
wheel==0.36.0
