name: check
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 8 * * *"

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Setup python for pre-commit
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - uses: pre-commit/action@v2.0.0

  pytest:
    runs-on: ${{ matrix.os }}-latest
    env:
      PYTEST_ADDOPTS: "--run-integration --showlocals -vv --durations=10"
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - macos
          - windows
        py:
          - 3.9
          - 3.8
          - 3.7
          - 3.6
          - 3.5
          - 2.7
          - pypy3
          - pypy2

    steps:
      - name: Setup python for tox
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install tox
        run: python -m pip install tox

      - uses: actions/checkout@v2

      - name: Setup python for test ${{ matrix.py }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.py }}

      - name: Pick environment to run
        run: |
          import platform; import os; import sys; import codecs

          cpy = platform.python_implementation() == "CPython"
          base =("{}{}{}" if cpy else "{}{}").format("py" if cpy else "pypy", *sys.version_info[0:2])
          env = "BASE={}\n".format(base)
          print("Picked:\n{}for{}".format(env, sys.version))
          with codecs.open(os.environ["GITHUB_ENV"], "a", "utf-8") as file_handler:
               file_handler.write(env)
        shell: python

      - name: Setup test suite
        run: tox -vv --notest -e ${{env.BASE}},${{env.BASE}}-path,${{env.BASE}}-sdist,${{env.BASE}}-wheel

      - name: Run test suite via tox
        run: tox -e ${{env.BASE}} --skip-pkg-install

      - name: Run test suite via path
        run: tox -e ${{env.BASE}}-path --skip-pkg-install

      - name: Run test suite via sdist
        run: tox -e ${{env.BASE}}-sdist --skip-pkg-install

      - name: Run test suite via wheel
        run: tox -e ${{env.BASE}}-wheel --skip-pkg-install

      - name: Rename coverage report file
        run: |
          import os; os.rename('.tox/coverage.{}.xml'.format(os.environ['BASE']), '.tox/coverage.xml')
        shell: python

      - uses: codecov/codecov-action@v1
        if: ${{ always() }}
        env:
          PYTHON: ${{ matrix.python }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./.tox/coverage.xml
          flags: tests
          env_vars: PYTHON
          name: ${{ matrix.py }} - ${{ matrix.os }}

  check:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
        tox_env:
          - type
          - docs

    steps:
      - uses: actions/checkout@v2

      - name: Setup Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install tox
        run: python -m pip install tox

      - name: Setup run environment
        run: tox -vv --notest -e ${{ matrix.tox_env }}

      - name: Run check for ${{ matrix.tox_env }}
        run: tox -e ${{ matrix.tox_env }} --skip-pkg-install
